.arrayHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #1a3958;
  border-radius: 3px;
}
.arrayElements {
  overflow-x: auto;
  display: flex;
  gap: 5px;
}
.max {
  padding: 0 5px;
  border-radius: 3px;
  background-color: white;
  color: red;
}
.min {
  padding: 0 5px;
  border-radius: 3px;
  background-color: white;
  color: turquoise;
}
